{% extends 'AppLayoutBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <a class="btn btn-success" href="{{ path('band') }}">Lazy Loading</a>
        <a class="btn btn-warning" href="{{ path('band/eager') }}">Eager Loading</a>
    </div>
    {% for band in bandList %}
        <div class="row">
            <div class="col-lg-12">
                <h2>{{ band.name }}</h2>
                <ul>
                     {% for member in band.members %}
                         <li>{{ member.firstName }} {{ member.lastName }} - {{ member.instrument }}</li>
                     {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
{% endblock %}

